---
layout: default
title: Publications - Irene Paredes Losada
---

<main role="main" class="mb-5">
    <section class="pt-5">
        <div class="container">
            <div class="row justify-content-lg-between">
                <div class="col-lg-6">
                    <h1 class="mb-4">Publications</h1>
                    <h2 class="mb-3">Scientific Journals</h2>

                    {% for publication in site.data.publications %}
                    <p><strong>{{ publication.authors }}</strong><br>{{ publication.description }}<br>
                        <a href="{{ publication.url }}">{{ publication.url }}</a>
                    </p>
                    {% endfor %}

                </div>
                <div class="col-lg-5">
                    <img src="/assets/img/publications.jpg" alt="Publications" class="img-fluid rounded shadow-3d">
                </div>
            </div>
        </div>
    </section>
    
    <div class="pt-5">
        <div class="container">
            <div class="row justify-content-lg-between">
                <div class="col-lg-6">
                    <h2 class="mb-4">Presentations at conferences</h2>

                    {% for presentation in site.data.presentations %}
                    <p><strong>{{ presentation.event }}</strong> {{ presentation.description }}</p>
                    {% endfor %}
                    
                </div>
                <div class="col-lg-5">
                    <img src="/assets/img/presentations.jpg" alt="Presentations" class="img-fluid rounded shadow-3d">
                </div>
            </div>
        </div>
    </div>
</main>
