body {
  font-family: "Inter", sans-serif;
  color: #495057;
  /* If nav fixed to the top */
  /* min-height: 75rem;
  padding-top: 4.5rem; */
}

/* Typography */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #212529;
  font-weight: 400;
}

.highlight {
  color: #4e9525;
}

p a {
  color: #495057;
  box-shadow: inset 0 -0.25rem 0 #a9ca92;
  transition: box-shadow 250ms ease, color 250ms ease;
}

.lead a {
  box-shadow: inset 0 -0.4rem 0 #a9ca92;
}

p a:hover {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 -1.375rem 0 #4e9525;
}

/* Navigation */
.navbar {
  z-index: 1;
}

.navbar-expand>.container, .navbar-expand>.container-fluid, .navbar-expand>.container-lg, .navbar-expand>.container-md, .navbar-expand>.container-sm, .navbar-expand>.container-xl {
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 575px) {
  .navbar-expand>.container, .navbar-expand>.container-fluid, .navbar-expand>.container-lg, .navbar-expand>.container-md, .navbar-expand>.container-sm, .navbar-expand>.container-xl {
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.7);
  font-weight: 500;
  -webkit-transition: color 0.1s ease-out;
  -o-transition: color 0.1s ease-out;
  transition: color 0.1s ease-out;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .active>.nav-link {
  color: #4e9525;
}

.nav-item:first-child .nav-link {
  padding-left: 0;
}

@media (min-width: 992px)
{
  .navbar-expand .navbar-nav .nav-link {
    padding-right: .75rem;
    padding-left: .75rem;
  }
}

/* Images */
.rounded {
  border-radius: 0.625rem !important;
}

.shadow-3d {
  box-shadow: 0.5rem 0.5rem 0 rgba(233, 239, 241, 0.5);
}

/* Homepage */
.home h1 {
  font-size: 2rem;
}

.home figure {
  top: 0;
  right: 0;
  margin-top: 3.5rem;
}

.home figure svg {
  overflow: visible;
}

#home-pic {
  position: relative;
  margin-bottom: -8rem;
  z-index: 1;
}

#home-bg {
  position: relative;
}

#home-pic-svg {
  position: absolute;
  left: 1.5rem;
  top: 5rem;
}

.shadow-svg {
  -webkit-filter: drop-shadow(-18px 8px 0px rgba(169, 202, 146, .7));
  filter: drop-shadow(-18px 8px 0px rgba(169, 202, 146, .7));
  /* Similar syntax to box-shadow */
}